/*
    bg: #333;
*/

body {
    background-color: #333333;
    font-family: Raleway, sans-serif;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
    background-color: transparent;
    border: 2px solid #eee;
    color: #eee;
    transition: background-color .2s;
    width: 100%;
    text-align: center;
}

.button:hover {
    background-color: rgba(238, 238, 238, 0.25);
}

.go {
    font-size: 3em;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-h {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.banner {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-color: transparent;
    color: #EEEEEE;
}

.wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.wrapper::before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(222deg, #720000, #074900, #020049);
    background-size: 600% 600%;

    -webkit-animation: BgAnimation 54s ease infinite;
    -moz-animation: BgAnimation 54s ease infinite;
    animation: BgAnimation 54s ease infinite;

    display: block;

    /*-webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);*/
}

.input {
    border: 2px solid #eee;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 5px;
    padding: 5px;
}

.right {
    float: right;
    display: inline-block;
    padding: 5px;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    color: #EEEEEE;
    padding: 5px;
    font-size: 1.3em;
}

.header a {
    text-decoration: none;
    color: #eee;
}

.header a:hover {
    text-decoration: underline;
}

.rsep {
    border-right: 1px solid #eee;
}

.bgAnim {
    background: linear-gradient(222deg, #720000, #074900, #020049);
    background-size: 600% 600%;

    -webkit-animation: BgAnimation 54s ease infinite;
    -moz-animation: BgAnimation 54s ease infinite;
    animation: BgAnimation 54s ease infinite;
}

@-webkit-keyframes BgAnimation {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}
@-moz-keyframes BgAnimation {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}
@keyframes BgAnimation {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #eee;
}

.osList {
    list-style: none;
}
.osList li {
    display: inline-block;
}

@media screen and (max-width: 2310px) and (min-width: 1756px)  {
    .osLogo {
        font-size: 75%;
    }
}

@media screen and (max-width: 1756px) {
    .osLogo {
        font-size: 25%;
    }
}

@media screen and (max-width: 930px) {
    .osLogo {
        font-size: 25%;
    }
    .osList li {
        display: block;
    }
    .input {
        width: 100%;
    }
}

@media screen and (max-width: 440px) {
    .center {
        width: 100%;
        left: 0;
        right: 0;
        padding: 5px;
        transform: translate(0, -50%);
    }

    .logoTxt {
        font-size: 1em;
    }

    .logoImg {
        height: 0.75em;
        width: 0.75em;
    }

    form.center {
        transform: translate(-5%, -50%);
        padding: 0;
    }

    .button {
        position: relative;
        left: 50%;
        width: 75%;
        transform: translateX(-50%);
        font-size: 1em;
    }

    .container {
        padding: 0;
    }
}

.osLogo {
    width: 15em;
    height: 15em;
    padding: 4em;
    transition: height .5s, width .5s, padding .5s;
}

.osLogo:hover {
    width: 16em;
    height: 16em;
    padding: 3em;
}

.logoContainer {

}

.logoImg {
    height: 4em;
    width: 4em;
}

.logoTxt {
    font-size: 4em;
    color: #EEEEEE;
    font-family: Raleway, sans-serif;
}

.logoContainer-s {
    display: inline-block;
    padding: 5px;
    text-decoration: none !important;
}

.logoImg-s {
    height: 1em;
    width: 1em;
}

.logoTxt-s {
    font-size: 1em;
    color: #EEEEEE;
    font-family: Raleway, sans-serif;
}